.Chat-main{
  width: calc(100vw - 300px);
  background-color: #ffffff;
  .group-info{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 5px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__group{
      &__group-name{
        color: #333333;
        font-size: 20px;
        margin-left: 40px;
        padding-top: 35px;
      }
      &__member-list{
        color: #999999;
        margin-top: 15px;
        margin-left: 40px;
        font-size: 12px;
        display: flex;
      }
    }
    &__exit{
      border: 1px solid #38aef0;
      padding: 15px 20px;
      margin-right: 40px;
      a{
        color: #38aef0;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }
  .message-field{
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    overflow: scroll;
    .message-box{
      .message-info{
        display: flex;
        &__sender-name{
          color: #333333;
          font-size: 16px;
          margin-left: 40px;
          padding-top: 35px;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          padding-top: 35px;
          margin-left: 10px;
        }
      }
    }
      .message{
        color: #434A54;
        font-size: 14px;
        padding-top: 12px;
        margin-left: 40px;
      }
  }
  .message-form{
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px 20px 40px;
    .form{
      display: flex;
      &__contents{
        width: 100%;
        position: relative;
      }
      &__input-content{
        height: 50px;
        width: 100%;
        padding: 0 10px;
        border-style: none;
      }
      &__input-image{
        position: absolute;
        right: 10px;
        top: 15px;
        .hidden{
          display: none;
        }
      }
      &__submit{
        height: 50px;
        width: 100px;
        color: #ffffff;
        background-color: #38aef0;
        font-size: 16px;
        padding: 0 30px;
        margin-left: 15px;
        border-style: none;
      }
    }
  }
}